@model DiplomService.Models.Division

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="intro" style="height:40vh">
    <div class="intro__column">
        <p class="title-text">@Model.Name</p>
    </div>
</div>

<div class="container">
    <div class="d-flex endHiden image-text_block align-items-center mb-3">
        @if (Model.PreviewImage != null)
        {
            string? mimeType = Model.MimeType; 

            if (mimeType != null)
            {
                <img src="data:@mimeType;base64,@Convert.ToBase64String(Model.PreviewImage)" alt="Image" class="w-25 bigMainImage">
            }
        }
        else
        {
            <img src="/Images/camara.png" alt="Image" class="w-25 bigMainImage">
        }
        <div class="ms-5">
            <p class="h5 fw-bold">Описание:</p>
            <p>@Model.Description</p>
        </div>
    </div>
    <p class="item-block__text h5 my-3"><span class="fw-bold">Дата начала:</span> @Model.DateOfStart</p>
    <p class="item-block__text h5 my-3"><span class="fw-bold">Принимают участие:</span> @Model.DivisionMembers.Count</p>

</div>