@model DiplomService.ViewModels.LoginUpdateViewModel
@{
    ViewData["Title"] = "Edit";
    Layout = "_CabinetLayout";
}

<div class="w-100 my-2">
    <label asp-for="Login" class="control-label"></label>
    <input asp-for="Login" class="login-form__input" placeholder="Номер телефона" />
    <span asp-validation-for="Login" class="text-danger"></span>
</div>

<div class="w-100 my-2" style="display:none;">
    <label asp-for="Code" class="control-label"></label>
    <input asp-for="Code" type="number" class="login-form__input" placeholder="Номер телефона" />
    <span asp-validation-for="Code" class="text-danger"></span>
</div>
